node_modules/
dist/
coverage/
playwright-report/
test-results/
**/.gradle/
**/.kotlin/
**/build/
!src/tools/cs/atlas-cs-msbuild/build/
!src/tools/cs/atlas-cs-msbuild/build/**
!examples/csharp/build/
!examples/csharp/build/**
**/bin/
**/obj/
**/pkg/
**/.rubocop_cache/
architecture/
